<h1>Dashboard#home</h1>
<p>CRUD</p>
<nav>
	<ul>
		<li>ini supplier <td><%= link_to 'show', products_url %></td></li>
	</ul>
	<ul>
		<li>ini customer <td><%= link_to 'customer', customers_url %></td></li>
	</ul>
	<ul>
		<li>ini customer <td><%= link_to 'supplier', suppliers_url %></td></li>
	</ul>
</nav>
<hr>
<p>Find me in app/views/dashboard/home.html.erb</p>
<nav>
	<ul>
		<li>ini supplier <td><%= link_to 'List Customer', table_customer_products_url %></td></li>
	</ul>
	<ul>
		<li>ini customer <td><%= link_to 'List Supplier', table_supplier_products_url %></td></li>
	</ul>
</nav>



