
<%= render 'layouts/header'  %>

<div class="container">

<p id="notice"><%= notice %></p>

<h1>Supplier P roducts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tsupplierproducts.each do |tsupplierproduct| %>
      <tr>
        <td><%= tsupplierproduct.supplier.name %></td>
        <td><%= tsupplierproduct.product.name %></td>
        <td><%= link_to 'Show', tsupplierproduct %></td>
        <td><%= link_to 'Edit', edit_tsupplierproduct_path(tsupplierproduct) %></td>
        <td><%= link_to 'Destroy', tsupplierproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn btn-grey pull-right">
<%= link_to 'Create', new_tsupplierproduct_path %>
</button>

</div>