<p id="notice"><%= notice %></p>

<h1>Table Customer Products</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_customer_products.each do |table_customer_product| %>
      <tr>
        <td><%= table_customer_product.customer.name %></td>
        <td><%= table_customer_product.product.name %></td>
        <td><%= link_to 'Show', table_customer_product %></td>
        <td><%= link_to 'Edit', edit_table_customer_product_path(table_customer_product) %></td>
        <td><%= link_to 'Destroy', table_customer_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table Customer Product', new_table_customer_product_path %>
