

<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @table_customer_product.product.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @table_customer_product.customer.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @table_customer_product.amount %>
</p>

<%= link_to 'Edit', edit_table_customer_product_path(@table_customer_product) %> |
<%= link_to 'Back', table_customer_products_path %>
